.swiper {
  width: 600px;
  height: 300px;
}

.ex1 .swiper-slide {
  background-color: rgb(252, 218, 155);
  display: flex;
  justify-content: center;
  margin: auto;
}

.ex2 {
  margin-top: 30px;
}

.ex2 .swiper-slide {
  background-color: rgb(155, 252, 195);
  display: flex;
  justify-content: center;
  margin: auto;
}

.ex3 {
  margin-top: 30px;
  width: 100%;
}

.ex3 .swiper-slide {
  background-color: rgb(222, 165, 248);
  display: flex;
  justify-content: center;
  margin: auto;
}
.ex4 {
  margin-top: 30px;
  width: 100%;
}

.ex4 .swiper-slide {
  background-color: rgb(105, 2, 153);
  display: flex;
  justify-content: center;
  margin: auto;
}

.ex5 {
  margin-top: 30px;
  width: 100%;
}

.ex5 .swiper-slide {
  background-color: rgb(179, 255, 251);
  display: flex;
  justify-content: center;
  margin: auto;
}
